/* Basic styles */

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #1B2330;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: center;

}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: white;
}


img {
  max-width: 100%;
}

.container {
  padding: 20px;
  margin: 0 auto; /* Center everything */
  max-width: 100%;
  
}

/* Button syles */

button {
  background: rgb(99,225,217);
  background: linear-gradient(90deg, rgba(99,225,217,1) 0%, rgba(52,160,205,1) 100%); 
  display: block;
  margin: auto;
  color: white;
  border: 1px solid #707070;
  padding: 1.8rem;
  width: 24rem;
  border-radius: 3rem;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.15);
  transition: all .5s ease-in-out;
  cursor: pointer;
}

button:hover {
  background: #8ADAE3;
  border: 1px solid #979797;
}