/* Basic styles */

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #1B2330;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: center;

}

h1 {
  font-size: 2.4rem;
  line-height: 3.6rem;
}

h2 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1rem;
}

p {
  line-height: 2.1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: white;
}


img {
  max-width: 100%;
}

.container {
  padding: 20px;
  margin: 0 auto; /* Center everything */
  max-width: 100%;
  
}

/* Button styles */

button {
  background: #8ADAE3 linear-gradient(90deg, rgba(99,225,217,1) 0%, rgba(52,160,205,1) 100%); 
  display: block;
  margin: auto;
  color: white;
  padding: 1.8rem;
  width: 24rem;
  border: none;
  border-radius: 3rem;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.15);
  transition: all .4s ease-in-out;
  cursor: pointer;
}

button:hover {
  background: #8ADAE3;
}

/* Header syles */

header {
  margin-bottom: .8rem;
}

header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container nav img {
  width: 8rem;
}

header .container nav ul {
  display: flex;
  justify-content: space-between;
}

header .container nav ul li {
  margin-left: 2.5rem;
}

header .container nav ul li:hover {
  text-decoration: underline;
  font-weight: bold;
}

/* Banner section */

.banner {
  margin-bottom: 8rem;
}

.banner img {
  margin-bottom: 3.7rem;
}

.banner p {
  margin-bottom: 3.3rem;
}

/* Info section */

.info {
  margin-bottom: 4rem;
}

.card {
  margin-bottom: 8rem;
}

.card img {
  margin-bottom: 2.6rem;
}

.card h2 {
  margin-bottom: 1rem;
}

/* Productive section */

.productive {
  text-align: left;
  margin-bottom: 8.9rem;
}
.productive h2 {
  text-align: left;
}

.productive .image {
  margin-bottom: 5rem;
}

.fylo-link {
  color: #62E0D9;
  padding-bottom: 1rem;
  border-bottom: 1px solid #62E0D9;
}

.fylo-link:hover {
  color: white;
  border-bottom: 1px solid white;
  filter:  brightness(0) invert(1);
}

/* Testimonials section */

.testimonials {
  width: 90%;
  margin: 0 auto;
}

.testimonial {
  text-align: left;
  background-color: #202A3C;
  border-radius: .5rem;
  padding: 2.6rem 2rem 2.1rem;
  margin-bottom: 2.4rem;
}

.quotes {
  display: block;
  width: 3rem;
  padding-left: .5rem;
}

.testimonial p {
  font-size: 1rem;
  margin-bottom: 1.7rem;
}

.person {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.person img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  margin-right: .8rem;
}

.person h4 {
  margin: 0;
}

small {
  font-size: .7rem;
}

/* Early access section */

.early-access {
  margin-bottom: 4rem;
}

.early-access .container {
  background-color: #202A3C;
  width: 90vw;
  border-radius: .5rem;
  padding: 4.2rem 2.8rem 3.7rem;
}

.early-access p {
  margin-bottom: 3.3rem;
}

form input {
  color: #C0C0C0;
  font-size: 1rem;
  padding: 1.6rem 3rem;
  border: none;
  border-radius: 3rem;
  width: 24rem;
  margin-bottom: 2.4rem;
}

/* Footer */

footer {
  text-align: left;
  margin-bottom: 5.2rem;
}

footer .logo {
  width: 10.8rem;
  margin-bottom: 3.6rem;
}

.contact {
  margin-bottom: 1.7rem;
}

.contact p {
  margin: 0;
  padding: 0;
}

.contact img {
  margin-right: 1.6rem;
}

footer .contact {
  display: flex;
  align-items: flex-start;
}

.footer-links {
  margin-top: 5rem;
  
}

.footer-links li {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
}

.footer-links li:hover {
  font-weight: bold;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-media-icons li a {
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.7rem;
  height: 2.7rem;
  transition: all .4s ease-in-out;
}

.social-media-icons li a:hover {
  color: #62E0D9;
  border: 1px solid #62E0D9;
}

/*-----------------------------------------
---------- Desktop styles -----------------
-----------------------------------------*/

@media screen and (min-width: 990px) {
  
  .container nav {
    max-width: 128rem;
    padding: 0 8rem;
    margin: 0 auto;
  }

  header {
    margin-top: 7.3rem;
    margin-bottom: 7.5rem;
  }

  header .container nav img {
    width: 17.6rem;
  }

  header li {
    font-size: 1.6rem;
  }

  /* Banner section */

  .banner {
    max-width: 72rem;
    margin: 0 auto 15.8rem;
  }

  .banner .container {
    max-width: 73.4rem;
  }

  h1 {
    font-size: 4rem;
    line-height: 6rem;
  }

  .banner p {
    font-size: 2rem;
    line-height: 3rem;
    max-width: 58.9rem;
    margin: 0 auto 3.3rem;
  }

  button {
    font-size: 1.6rem;
  }

  /* Info section */

  .info .container {
    max-width: 88rem;
    margin: 0 auto;
  }

  .info .container .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem 10rem;
    max-width: 90rem;
  }

  .card {
    max-width: 34rem;
  }

  .card img {
    height: 6.4rem;
  }

  .productive {
    max-width: 128rem;
    margin: 0 auto;
  }

  .productive .flex {
    display: flex;
    justify-content: center; 
    align-items: center;
  }

  .productive .stay-productive-img {
    max-width: 61rem;
  }

  .stay-productive {
    max-width: 56rem;
  }

  .productive h2 {
    font-size: 4rem;
    max-width: 50rem;
  }

  .testimonials {
    max-width: 118rem;
    margin-bottom: 14.9rem;
  }

  .testimonials .flex {
    display: flex;
    gap: 4rem;
  }

  .testimonial p {
    font-size: 1.4rem;
  }

  .quotes {
    width: 7.9rem;
    transform: translate(-1rem, 2rem);
  }
  
  .early-access {
    max-width: 86rem;
    margin: 0 auto 5.3rem;
  }

  .early-access .container {
    padding: 4.8rem 9.5rem 2.2rem;
  }

  .early-access h2 {
    font-size: 3.2rem;
  }
  
  .early-access .flex {
    display: flex;
    justify-content: center;
    gap: 2.9rem;
  }

  .early-access form input {
    height: 4.8rem;
  }

  .early-access button {
    height: 4.8rem;
    padding: 0;
  }

  footer {
    max-width: 123rem;
    margin: 0 auto 3.3rem;
  }

  .footer-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .location {
    max-width: 34rem;
    margin-right: 8rem;
  }

  .phone-email {
    max-width: 17rem;
    margin-right: 14.5rem;
  }

  .footer-links {
    margin: 0;
    margin-right: 8rem;
  }
}

